html {
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font: 14px/1.4 'system-ui', sans-serif;
  color: #343a40;
}

p {
	text-align: center;
}

.fnpcc-detail {
	width: 65%;
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 5rem;
	line-height: 2;
}

.imageMap__container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(11, 1fr);
  position: relative;
}

.imageMap__container img {
  max-width: 100%;
  height: auto;
  grid-column: 1/-1;
  grid-row: 1/-1;
  pointer-events: none;
  overflow: hidden;
  border-radius: 32px;
  border: 4px solid #8A563C;
}

.markers {
    background: rgba(255,255,255,.7);
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    border-color: rgba(255,255,255,.5);
    width: 22px;
    height: 22px;
    box-sizing: border-box;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    animation: ownpulse 3s cubic-bezier(.19,1,.22,1) infinite both;
    position: relative;
}

.markers:focus-within .marker__card, .markers:focus .marker__card {
	display: block;
}

.marker__card {
	background-color: #ffffffc7;
	padding: 10 10px;
	display: none;
	min-height: 100px;
	position: absolute;
  right: 75px;
	width: 30%;
	z-index: 100;
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
	box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
	min-width: 220px;
	max-width: 300px;
	animation: fadeInUp;
	animation-duration: .5s;
	animation-fill-mode: both;
	border-radius: 32px;
	border: 2px solid #8A563C;
}

.marker__card__title {
  font: 31px/1.2 'Georgia', serif;
  margin-top: 0;
  margin-bottom: 1rem;
}
/* animations */
@keyframes ownpulse {
	0% {
	    -webkit-box-shadow: 0 0 0 0 #fff;
	    box-shadow: 0 0 0 0 #fff;
	}
	50% {
	    -webkit-box-shadow: 0 0 0 40px rgba(92,112,214,0);
	    box-shadow: 0 0 0 40px rgba(92,112,214,0);
	}
	0% {
	    -webkit-box-shadow: 0 0 0 0 #fff;
	    box-shadow: 0 0 0 0 #fff;
	}
	50% {
	    -webkit-box-shadow: 0 0 0 40px rgba(92,112,214,0);
	    box-shadow: 0 0 0 40px rgba(92,112,214,0);
	}
}
@keyframes zoomIn {
	0% {
		opacity: 0;
		transform: scale3d(.3,.3,.3);
		-webkit-transform: scale3d(.3,.3,.3);
	}
	50% {
		opacity: 1;
	}
}
@keyframes fadeInUp {
	0% {
    opacity: 0;
	transform: scale3d(.3,.3,.3) translate3d(0,100%,0);
	-webkit-transform: scale3d(.3,.3,.3);
    -webkit-transform: translate3d(0,100%,0);
}
100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
0% {
    opacity: 0;
    -webkit-transform: translate3d(0,100%,0);
    transform: scale3d(.3,.3,.3) translate3d(0,100%,0);
}
100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
}