.Map {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.map-holder {
    display: flex;
    width: 100%;
    background-color: red;

}

/* Houses, markers and individual styling*/
.Houses {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    height: 160px;
    justify-content: flex-end;
}

.House-img {
    width: 120px;
    height: 120px;
}

/* .Marker {
    width: 40px;
    height: 40px;
} */

.Marker {
    width: 40px;
    height: 40px;
    animation: Marker 1s ease infinite;
    justify-content: center;
  }
  @keyframes Marker {
      0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
      40% {transform: translateY(-30px);}
      60% {transform: translateY(-15px);}
  }

.House-1 {
    border: red solid 5px;
    top: 15vh;
    left: 15vw;
}

.House-2 {
    border: orange solid 5px;
    top: 42vh;
    left: 12vw;
}

.House-3 {
    border: yellow solid 5px;
    top: 40vh;
    left: 24vw;
}

.House-4 {
    border: green solid 5px;
    top: 16vh;
    left: 28vw;

}

.House-5{
    border: blue solid 5px;
    top: 44vh;
    left: 36vw;
}