.map-container {
    position: relative;
    max-height: 100%;
    aspect-ratio: 10 / 7;
    margin: auto;
}

.Map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-position: center;
}

/* Houses, markers and individual styling */
.Houses {
    position: absolute;
    z-index: 1;
    height: 24%;

    /* Inside of div */    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    /* button styling */
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: 1px solid transparent;
}

.House-img {
    height: 100%;
    padding-top: 24px;
}

.House-img:hover {
    animation: House-img 1s ease infinite;
    justify-content: center;
  }
  @keyframes House-img {
      0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
      40% {transform: translateY(-30px);}
      60% {transform: translateY(-15px);}
  }

.Marker {
    height: 3rem;
    text-align: center;
}

.Examination-room {
    /* border: red solid 5px; */
    top: 62.5%;
    left: 56.3%;
}

.Counselling-room {
    /* border: orange solid 5px; */
    top: 60%;
    left: 28%;
}

.Healing-room {
    /* border: yellow solid 5px; */
    top: 40.6%;
    left: 40.1%;
}

.Pharmacy {
    /* border: green solid 5px; */
    top: 32.7%;
    left: 67.6%;

}

.Medicine-room {
    /* border: blue solid 5px; */
    top: 23.5%;
    left: 19.8%;
}